.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  > mat-sidenav-container {
    flex-grow: 1;
  }
}

mat-toolbar {
  z-index: 2;
  .logo {
    margin: 0 8px;
  }
}

mat-sidenav {
  width: 280px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 16px * 2);
  padding: 16px;
  > .content {
    flex-grow: 1;
    height: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
  }
  > .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
  }
}
