<div class="container">
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">PennFoster Helper</div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav></mat-sidenav>
    <mat-sidenav-content>
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let tab of tabs"
          [routerLink]="tab.commands"
          [active]="tabActive == tab"
          (click)="tabActive = tab"
        >
          {{ tab.name }}
        </a>
      </nav>
      <mat-tab-nav-panel>
        <router-outlet></router-outlet>
      </mat-tab-nav-panel>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
