<mtx-loader
  *ngIf="archives$ | withLoading | async as archives"
  [loading]="archives.loading"
>
  <div class="container">
    <div class="content">
      <section class="mat-h2">
        {{ archives.value?.[page - 1]?.question }}
      </section>
      <section class="mat-h3">
        {{ archives.value?.[page - 1]?.answer }}
      </section>
    </div>
    <div class="actions">
      <app-paginator
        *ngIf="archives.value"
        [pageMax]="archives.value.length"
        [(pageCurrent)]="page"
      ></app-paginator>
    </div>
  </div>
</mtx-loader>
