<div class="container">
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">PennFoster Helper</div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="over" #sidenav></mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <section class="mat-h2">{{ dialogCurrent.question }}</section>
        <section class="mat-h3">{{ dialogCurrent.answer }}</section>
      </div>
      <div class="actions">
        <div>
          <button
            mat-icon-button
            [disabled]="dialogCurrentIndex == 0"
            (click)="dialogCurrentIndex = dialogCurrentIndex - 1"
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
          <span>{{ dialogCurrentIndex + 1 }} / {{ dialogs.length }}</span>
          <button
            mat-icon-button
            [disabled]="dialogCurrentIndex == dialogs.length - 1"
            (click)="dialogCurrentIndex = dialogCurrentIndex + 1"
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
