.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  > mat-sidenav-container {
    flex-grow: 1;
  }
}

mat-toolbar {
  z-index: 2;
  .logo {
    margin: 0 8px;
  }
}

mat-sidenav {
  width: 280px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  nav[mat-tab-nav-bar] {
    mat-icon {
      margin-right: 8px;
    }
  }
  mat-tab-nav-panel {
    height: 0;
    flex-grow: 1;
    overflow: auto;
  }
}
